.wrapper{
	width:1200px;
	height:1000px;
	border:1px solid black;
	position:relative;
}

#imgdiv{
	width:300px;
	height:300px;
	border:1px solid black;
position:absolute;
	top:20px;
	right:404px;
}

#btnnext{
	width:128px;
	height:120px;
	position:absolute;
	top:168px;
	right:273px;
	background:url("../images/arrow-next.png")no-repeat;
}

#btnpre{
	width:128px;
	height:120px;
	position:absolute;
	top:168px;
	right:707px;
	background:url("../images/arrow-prev.png")no-repeat;
}

#p_info{
	width:600px;
	height:150px;
	border:1px solid black;
position:absolute;
	top:391px;
	right:210px;
}

#p_info1{
	width:600px;
	height:40px;
	border:1px solid black;
position:absolute;
	top:350px;
	right:210px;
}


















